// Range: Responsive $start, $end range $breakpoint resizing.

@use "../variables/" as *;
@use "../sass" as *;
@use "em" as *;
@use "rem" as *;
@use "unit" as *;

@function range($start, $end, $breakpoint: $xxl) {
	// Get $min and $max values from $start and $end:
	$min: MATH-min($start, $end);
	$max: MATH-max($start, $end);

	// Get $difference between $max and $min:
	$difference: $max - $min;

	// Set $breakpoint to $difference units:
	$breakpoint: $breakpoint, em($breakpoint), rem($breakpoint);
	$breakpoint: unit($difference, $breakpoint...);

	// The $modifier value is $difference scaled to $breakpoint:
	$modifier: MATH-div($difference, $breakpoint) * 100cqw;

	// Return responsive $min, $max value range:
	@return min($min + $modifier, $max);
}