// Variables: All global API variables.

// Rendered Color Schemes:
$color-schemes: light dark !default;

// Color Palette:
$white: #f6f6f8 !default;
$black: #18181C !default;
$gray: #727C83 !default;
$red: #EF6461 !default;
$orange: #EE8434 !default;
$yellow: #FFCB47 !default;
$brown: #BB946C !default;
$green: #74bf80 !default;
$blue: #5490b8 !default;
$teal: #2a9186 !default;
$cyan: #6bcee7 !default;
$purple: #b350ed !default;
$indigo: #9892C8 !default;
$pink: #F47C98 !default;

$colors: (
	"white": $white,
	"black": $black,
	"gray": $gray,
	"red": $red,
	"orange": $orange,
	"yellow": $yellow,
	"brown": $brown,
	"green": $green,
	"blue": $blue,
	"teal": $teal,
	"cyan": $cyan,
	"purple": $purple,
	"indigo": $indigo,
	"pink": $pink
);

// Theme Colors:
$primary: $blue !default;
$secondary: $gray !default;
$success: $green !default;
$danger: $red !default;
$warning: $yellow !default;
$info: $cyan !default;
$light: $white !default;
$dark: $black !default;

$theme-colors: (
	"primary": $primary,
	"secondary": $secondary,
	"success": $success,
	"danger": $danger,
	"warning": $warning,
	"info": $info,
	"light": $light,
	"dark": $dark
);

// Color Contrast Ratios:
$AA: 4.5;
$AA-large: 3;
$AAA: 7;
$AAA-large: 4.5;
$AA-gui: 3;
$AA-ui: $AA-gui;

// Font Family:
$sans-serif: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui,
helvetica neue, helvetica, Cantarell, Ubuntu, roboto,
noto, arial, sans-serif !default;
$display: $sans-serif !default;
$monospace: Menlo, Consolas, Monaco, Liberation Mono,
Lucida Console, monospace !default;

// Font Weight:
$weight: 400 !default;
$thin: 200 !default;
$bold: 600 !default;
$heavy: 800 !default;

// Line Height:
$leading: 1.5 !default;
$leading-display: 1.33;

// Container Pixel Width:
$xs: 180.5px !default;
$sm: 300.5px !default;
$md: 640.5px !default;
$lg: 980.5px !default;
$xl: 1280.5px !default;
$xxl: 1440.5px !default;

$containers: (
	"xs": $xs, "sm": $sm, "md": $md,
	"lg": $lg, "xl": $xl, "xxl": $xxl
);

// Container Breakpoints:
$breakpoints: 0px, $sm, $md, $lg, $xl, $xxl;

// Z-Index Position:
$z-underlay: -1000 !default;
$z-overlay: 1000 !default;
$z-dropdown: 2000 !default;
$z-sticky: 3000 !default;
$z-fixed: 4000 !default;
$z-backdrop: 5000 !default;
$z-modal: 6000 !default;
$z-popup: 7000 !default;
$z-tooltip: 8000 !default;

// Border Radius:
$radius-xs: 4px !default;
$radius-sm: 8px !default;
$radius-md: 12px !default;
$radius-lg: 18px !default;
$radius-xl: 24px !default;
$radius-xxl: 32px !default;

// Timing Lengths:
$time-xs: 150ms !default;
$time-sm: 300ms !default;
$time-md: 500ms !default;
$time-lg: 750ms !default;
$time-xl: 1s !default;
$time-xxl: 1.5s !default;

// Safe Areas:
$safe-top: env(safe-area-inset-top) !default;
$safe-right: env(safe-area-inset-right) !default;
$safe-bottom: env(safe-area-inset-bottom) !default;
$safe-left: env(safe-area-inset-left) !default;

$safe: $safe-top $safe-right $safe-bottom $safe-left;
$safe-x: 0 $safe-right 0 $safe-left;
$safe-y: $safe-top 0 $safe-bottom 0;

$safe-start: $safe-top $safe-right 0 $safe-left;
$safe-end: 0 $safe-right $safe-bottom $safe-left;