// Styles: API derived styles for HTML elements.

@forward "../api/";
@use "../api/" as *;

:where(*, ::before, ::after) {
	box-sizing: border-box;
	max-width: 100%;
}

:where(body) {
	color-scheme: $color-schemes;
	font-size: size(0em);
	font-family: $font;
	font-weight: $weight;
	line-height: $line-height;
	word-break: break-word;
	margin: 0;
	@include color-schemes using ($bg) {
		background-color: $bg;
		color: high-contrast($bg, $white, $black);
	}
	@include prefers-motion {
		scroll-behavior: smooth;
	}
}

:where(h1, h2, h3, h4, h5, h6) {
	font-family: $font-heading;
	font-weight: $weight-bold;
	line-height: $line-height-heading;
	margin: size(-1rem) 0;
}

:where(h1) {
	font-size: size(3em);
}

:where(h2) {
	font-size: size(2em);
}

:where(h3) {
	font-size: size(1em);
}

:where(h4) {
	font-size: size(0em);
}

:where(h5, sub, sup, small) {
	font-size: size(-1em);
}

:where(h6) {
	font-size: size(-2em);
}

:where(b, strong) {
	font-weight: $weight-bold;
}

:where(code, samp, pre, kbd) {
	font-family: $font-mono;
}

:where(a[href]) {
	@include color-schemes using ($bg) {
		color: color-contrast($accent, $bg);
	}
}